
* {
    box-sizing: border-box;
    margin: auto;
    font-family: 'PT Sans', sans-serif;
  }
  
  .about,
  .education,
  .skills,
  .recentprojects {
    display: flex;
    height: 140vh;
    /* background-color: rgb(228, 211, 217); */
  }
 
  .h2-about{
    position: absolute;
    margin-left: 500px;
    margin-top:100px;
   }

   .info-about{
    margin-top:200px;
    margin-left: 50px;
   }
  
 .image-about{
  border-radius: 50px;
  height: 20vh;
  width: 20vh;
 }
 

  