
* {
    box-sizing: border-box;
    margin: auto;
    font-family: 'PT Sans', sans-serif;
  }
  
  .about,
  .education,
  .skills,
  .recentprojects {
    display: flex;
    height: 150vh;
    /* background-color: rgb(228, 211, 217); */
  }
 
  
 .image-about{
   border-radius: 100px;
   height: 40vh;
 }

 .info-about{
   float: left;
   margin-left: 50px;
   margin-right: 50px;
   text-align: justify;
 }

 .all-about{
   display: grid;
 }

 p{
  font-family: Arial, Helvetica, sans-serif;
 }

 .skills-info{
   display: grid;
 }
 

  